<div class="form">
  <h1>Create New NPC</h1>
  <input type="text" placeholder="First Name" [(ngModel)]="newNPC.FirstName" />
  <input type="text" placeholder="Last Name" [(ngModel)]="newNPC.LastName" />

  <span>Race</span>
  <select [(ngModel)]="newNPC.Race">
    <!-- <option>No Race</option> -->
    @for (race of apiService.race$.getValue(); track race) {
    <option>{{ race.Name }}</option>
    }
  </select>

  <span>Family</span>
  <select [(ngModel)]="newNPC.Family">
    <!-- <option>No Family</option> -->
    @for (family of apiService.family$.getValue(); track family) {
    <option>{{ family }}</option>
    }
  </select>

  <span>Religion</span>
  <select [(ngModel)]="newNPC.Religion">
    <!-- <option>No Religion</option> -->
    @for (religion of apiService.religion$.getValue(); track religion) {
    <option [value]="religion">{{ religion.Name }}</option>
    }
  </select>

  <hr style="margin-bottom: 1em" />
  <button (click)="submit()">Create</button>
  <button>Cancel</button>
</div>
