<form class="form">
  <h1>Create New NPC</h1>
  <input type="text" placeholder="First Name">
  <input type="text" placeholder="Last Name">

  <select>
    <option>No Race</option>
    @for (race of npcService.race$.getValue(); track race) {
      <option>{{race.Name}}</option>
    }
  </select>

  <select>
    <option>No Family</option>
    @for (family of npcService.family$.getValue(); track family) {
      <option>{{family}}</option>
    }
  </select>

  <select>
    <option>No Religion</option>
    @for (religion of npcService.religion$.getValue(); track religion) {
      <option>{{religion}}</option>
    }
  </select>

  <button>Create</button>
  <button>Cancel</button>
</form>