<div class="table">
  <div class="banner">
    <h1>NPC Table</h1>
    <button (click)="openCreateDialog()">Create New NPC</button>
  </div>
  <div class="row">
    <b>ID</b>
    <b>First Name</b>
    <b>Last Name</b>
    <b>Race</b>
    <b>Family</b>
    <b>Religion</b>
    <b>World ID</b>
    <b>Details</b>
  </div>
  @for (npc of npcService.npc$.getValue(); track npc) {
  <div class="row">
    <span>{{ npc.ID }}</span>
    <span>{{ npc.FirstName }}</span>
    <span>{{ npc.LastName }}</span>
    <span>{{ npc.Race?.Name }}</span>
    <span>{{ npc.Family?.Name }}</span>
    <span>{{ npc.Religion?.Name }}</span>
    <span>{{ npc.WorldID }}</span>
    <a style="color: blue" [routerLink]="'npc-details/' + npc.ID"
      >View Details</a
    >
  </div>
  }
</div>
